<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>

</head>
<body>
	<footer th:fragment="footer">
      	<h1>하단영역</h1>
      	<div class="footer-wrap">
      		<section id="footer-menu">
      			<h1>하단메뉴</h1>
      			<div class="space-between view-width">
      				<div class="row-align">
      						<a href="#">회사소개</a>
      						<a href="#">이용약관</a>
      						<a href="#">개인정보처리방침</a>
      						<a href="#">청소년보호정책</a>
      						<a href="#">운영정책</a>
      						<a href="#">권리침해신고</a>
      						<a href="#">게임이용등급</a>
      						<a href="#">휴먼계정재이용</a>
      						<a href="#">English</a>
      				</div>
      				<div class="row-align" id="color">
      				<a href="#">
      				<span class="gg">PC방 홈페이지</span>
      				</a>
      				</div>
      				
      			</div>
      		</section>
      		<section id="company">
      			<h1>회사정보</h1> 
      			<div class="view-width row-align">
      				<div class="info">
      					<div>
      						<a href="#"><img alt="logo이미지" src="/images/logo_3.png"></a>
      						<a href="#"><img alt="logo이미지" src="/images/logo_4.png"></a>
      					</div>
      					<div class="detail row-align">
      						<div class="left">
	      						<dl>
	      							<dt>(주)엑스엘게임즈 / 대표이사 송재경, 최관호 / 사업자등록번호 120-86-50905 / 통신판매업신고 제 2013-경기성남-0817 호 <a href="#">사업자정보확인</a></dt>
	      							<dd>경기도 성남시 분당구 대왕판교로 645번길 14 네오위즈판교타워 7층 / 대표번호 1566-0550(전국공통) / 이메일 <a href="#">business@xlgames.com</a></dd>
								</dl>
								<span id="span">Copyright © XLGAMES Inc. All rights reserved.</span>
      						</div>
      						<select class="sele">
      							<option>Global Site</option>
      							<option value="#">China</option>
      							<option value="#">Japan</option>
      							<option value="#">Russia</option>
      							<option value="#">Taiwan</option>
      							<option value="#">Na EU</option>
      						</select>
      					</div>
      				</div>
      				<div class="inpay"></div>
      			</div>
      		</section>
      	</div>
    </footer>
</body>
</html>