<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<link rel="stylesheet" type="text/css" href="/css/jpa/list.css">
	<link rel="stylesheet" type="text/css" href="/css/jpa/index.css">
	<script src="/js/jquery-3.5.1.min.js"></script>
	<script src="/js/gnb-drop.js"></script>
	<script src="/js/myscript.js"></script>
</head>
<body>
	 <div th:insert="~{commons/header :: header }" ></div>
	<section id="title-img" th:insert="~{index :: visual}">
		<h1>페이지 타이틀 이미지</h1>
		<div>
		</div>
	</section>
	
	<main>
		<h1>Jpa로 처리한 게시글</h1>
		<div class="view-width">
			<section id="page-tit">
				<h1>페이지제목</h1>
				<p>Jpa로 처리한 게시글</p>
			</section>
			<section id="board">
				<div class="wrap">
					<div class="btn">
							<a href="/jpa/write">글쓰기</a>
					</div>
					<ul class="tit row-align">
						<li>공지사항</li>
					</ul>
					<ul class="contents row-align" th:each="dto:${list}">
						<li>[[${dto.no}]]</li>
						<li><a th:href="@{|/jpa/detail/${dto.no}|(page=${page})}">[[${dto.subject}]]</a></li>
						<li>[[${dto.count}]]</li>
						<li>[[${dto.writer}]]</li>
						<li>[[${dto.reg_date}]]</li>
					</ul>
					<script th:inline="javascript">
						$(function(){
							//var tag="#paging>span:nth-child("+[[${page}]]+")>a";
							var tag="#pagging>span:nth-child([(${page})])>a";
							$(tag).addClass("select");
						});
					</script>
					<div id="pagging" class="flex-center pagging">
						<th:block th:if="${pageInfo.from > 1}">
							<a href="/jpa/list/1" >&lt;&lt;</a>
							<a th:href="|/jpa/list/${pageInfo.from - 1}|" >&lt;</a>
						</th:block>
						
						<span th:each="page :${#numbers.sequence( pageInfo.from , pageInfo.to )}">
							<a th:if="${param.searchText ne null}" 
							th:href="@{|/jpa/list/${page}|(searchType=${param.searchType},searchText=${param.searchText})}" >[[${page}]]</a>
							<a th:if="${param.searchText eq null}"
							 th:href="@{|/jpa/list/${page}|}">[[${page}]]</a>
						</span>
						
						<th:block th:if="${pageInfo.total != pageInfo.to}">
							<a th:href="|/jpa/list/${pageInfo.to + 1}|" >&gt;</a>
							<a th:href="|/jpa/list/${pageInfo.total}|" >&gt;&gt;</a>
						</th:block>
					</div>
				
				<script th:inline="javascript">
						$(function(){
							var searchType= [[${param.searchType}]];
							//alert(searchType);
							if(searchType != null){
								if(searchTpye == "subject"){
									$(".op1").attr("selected", "selected");
								}else if(searchTpye == "content"){
									$(".op2").attr("selected", "selected");
								}else if(searchTpye == "writer"){
									$(".op3").attr("selected", "selected");
								}
							}
						});
				</script>
					<div class="search">
						<form action="/jpa/list/1" method="get">
							<select name="searchType">
								<option value="subject" class="op1">제목</option>
								<option value="content" class="op2">내용</option>
								<option value="writer" class="op3">작성자</option>
							</select>
							<input type="text" name="searchText" th:value="${param.searchText}">
							<input type="submit" value="검색">
						</form>
					</div>
					<!-- 
					<div class="sub_search">
						<h1>검색</h1>
							<form action="/jpa/search" method="get" class="search_form">
								<input type="hidden" name="subject">
								<input type="text" name="content">
								<button class="btn_search" type="submit">검색</button>
							</form>
					</div>
				 	-->
					</div>
			</section>
		</div>
	</main>
		<div th:insert="~{commons/footer :: footer }" ></div>
</body>
</html>