<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<link rel="stylesheet" type="text/css" href="/css/board/write.css">
	<script src="/js/jquery-3.5.1.min.js"></script>
	<script src="/js/gnb-drop.js"></script>
	<script src="/js/myscript.js"></script>
	<link rel="stylesheet" type="text/css" href="/css/login.css">
</head>
<body>
	<div th:insert="~{commons/header :: header }" ></div>
	<section id="title-img">
		<h1>페이지 타이틀 이미지</h1>
		<div>
		</div>
	</section>
	
	<main>
		<h1>Jpa로 처리한 게시글</h1>
		<div class="view-width">
			<section id="page-tit">
				<h1>페이지제목</h1>
				<p>Jpa로 처리한 게시글</p>
			</section>
			<section id="board">
				<h1>게시글 내용</h1>
				<div class="wrap">
					<form action="/jpa/write" method="post" class="write-form">
						<input name="writer" type="hidden" value="guest">
						<input name="subject" placeholder="제목을 입력하세요">
						<textarea rows="10" cols="100" name="content" placeholder="내용을입력하세요"></textarea>
						<button class="btn-style" type="submit">등록</button>
					</form>
				</div>
			</section>
		</div>
	</main>
	<th:block th:insert="/commons/footer::footer"></th:block>
</body>
</html>