<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
	<script src="/js/jquery-3.5.1.min.js"></script>
	<script src="/js/gnb-drop.js"></script>
	<script src="/js/myscript.js"></script>
	<link rel="stylesheet" type="text/css" href="/css/sign/login.css">
</head>
<body>
	<div th:insert="~{commons/header :: header }" ></div>
	<main>
		<div class="wrap-content">
			<div>
				<section>
					<h1>상단</h1>
					<div class="content-title">
						<strong>로그인을 해주세요</strong>
						<p>아직 아이디가 없다면 회원가입을 해주세요</p>
					</div>
				</section>
				<section id="login">
					<h1>로그인</h1>
					<div id="error" th:if="${log_msg != null}" th:text="${log_msg}">
					</div>
					<div id="welecome" th:if="${welcome_msg != null}" th:text="${welcome_msg}"></div>
				
					<form class="login-title" action="/user/login" method="post">
						
						<div class="checkbox">
							<input type="checkbox">
							<label>아이디 저장</label>
						</div>
						<div class="save">
							<input type="text" name="email" placeholder="아이디">
						</div>
						<div class="save">	
							<input type="password" name="pw" placeholder="비밀번호">
						</div>
							<button class="button-btn" type="submit">로그인</button>
						
					</form>
				</section>
				<nav id="account">
					<h1>계정정보</h1>
					<ul class="flex-center ">
						<li class="pipe"><a href="#">계정찾기</a></li>
						<li class="pipe"><a href="#">비밀번호 찾기</a></li>
						<li><a href="/member/join">회원가입</a></li>
					</ul>
				</nav>
				<section id="login">
					<ul class="sns-login">
						<li>
							<a href="#">
								<img alt="" src="/images/sign/favicon_191118_pc.ico"> 네이버 로그인
							</a>
						</li>
						<li>
							<a href="#">
								<img alt="" src="/images/sign/icon-bi-google.svg"> 구글 로그인
							</a>
						</li>
					</ul>
				</section>
			</div>
		</div>
	</main>
	<div th:insert="~{commons/footer :: footer }" ></div>
</body>
</html>