@charset "UTF-8";
@import url("../common.css");


/* ////////////////////////////// */
#content-tit {
	text-align: center;
	padding: 50px 0 30px;
	
}
#content-tit .tit{
	color: #535768;
	font-size: 28px;
	font-weight: 700;
}
#content-tit .msg{
	color: #9398aa;
	font-size: 15px;
	font-weight: 700;
	margin-top: 15px;
}
main>.wrap{
	width: 880px;
	margin: 0 auto;
	letter-spacing: -1px;
	padding: 0 220px;
}
main>.wrap form div{
	padding-top: 16px;
}
main>.wrap form div p a:before{
	content: "!";
	display: inline-block;
	width: 20px;
	height: 20px;
	color: #fff;
	background-color: #378ff1;
	border-radius: 100%;
	vertical-align: text-bottom;
	text-align: center;
	line-height: 20px;
	margin-right: 5px;
}
main>.wrap form div p a{
	line-height: 40px;
	color: #378ff1;
	font-weight: 700;
	text-decoration: underline;
	font-size: 15px;
}
main>.wrap form div span{
	margin-top: 8px;
	color: #9398aa;
	font-size: 14px;
}
main>.wrap form input,
main>.wrap form button{
	height: 50px;
	width: 100%;
	letter-spacing: -1px;
}
main>.wrap form div input{
	width: 100%;
	padding: 0 60px 0 16px;
}
main>.wrap form div span{
	display: block;
}
main>.wrap form .email input{
	flex: 2;
}
main>.wrap form button{
	border: 2px solid #bfbfd0;
    background-color: #d1d1de;
    color: #fff;
    font-size: 16px;
}
main>.wrap form button[type=submit]{
	margin-top: 16px;
}
main>.wrap form .email button{
	flex: 1;
}
main>.wrap form input[type=password]{
	background-color: #efeff4;
    border: 1px solid #d5d9e2;
}


.bad{
	color: #ee6a7b;
}

.good{
	color: #0f851a;
}
.bad:before {
	content: '\2715';
    display: inline-block;
    padding-right: 3px;
    font-size: 12px;
    vertical-align: 0;
}
.good:before {
    content: '\2713';
    display: inline-block;
    padding: 0 4px 0 2px;
    font-size: 12px;
    vertical-align: 0;
}

