@charset "UTF-8";
@import url("../common.css");

/* /////////////////////////////////////////// */
/* //////board-list.css/////////////////////////// */
/* /////////////////////////////////////////// */

#title-img>div{
	min-height: 197px;
	background-image: url("/images/header_bg_1.jpg");
	background-repeat: no-repeat;
	background-size: 1920px auto;
	background-position: 50% 0; 
	background-color: #000;
}

#page-tit p{
	font-size: 32px;
	font-weight: 700;
	padding: 40px 0;
}
#board{
	margin-bottom: 40px;
}
#board ul{
	border-bottom: 1px solid #eaecef;
	padding: 0.7em 0 0.5em;
}
#board ul.tit{
	border-top: 2px solid #eaecef;
	padding: 0.8em 0 0.5em;
	font-weight: 700;
}
#board ul li:nth-child(1) {
	flex: 1;
}
#board ul li:nth-child(2) {
	flex: 6;
}
#board ul li:nth-child(3) {
	flex: 1;
}
#board ul li:nth-child(4) {
	flex: 2;
}
#board ul li:nth-child(5) {
	flex: 2;
}
#board .wrap .btn {
	text-align: right;	
}
#board .wrap .btn a{
	background-color: #eb6715;
	padding: 0.5em 2em;
	display:inline-block;
	border-radius: 5%;
	color: #fff;
	font-weight: 700;
}