@charset "UTF-8";
@import url("../common.css");

/* /////////////////////////////////////////// */
/* //////board-write.css/////////////////////////// */
/* /////////////////////////////////////////// */

#title-img>div{
	min-height: 197px;
	background-image: url("/images/header_bg_1.jpg");
	background-repeat: no-repeat;
	background-size: 1920px auto;
	background-position: 50% 0; 
	background-color: #000;
}

#page-tit p{
	font-size: 32px;
	font-weight: 700;
	padding: 40px 0;
}
#board{
	margin-bottom: 40px;
}
#board .wrap .write-form>*{
	display: block;
	
}

